{% extends 'base.html' %}

{% load static %}

{% block title %}
Verify Your Email
{% endblock %}

{% block content %}
    <h2>Verify Your Email</h2>
    <p>A verification email has been sent to your inbox. Please check your email (Check spam folder too).</p>

    <p>Waiting for verification...</p>

    <button onclick="resendEmail()">Resend Email</button>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
{% endblock %}

{% block script %}
    <script>const resendUrl = "{% url 'resend_verification_email' %}";</script>
    <script src="{% static 'js/verify_email.js' %}"></script>
{% endblock %}
