{% extends 'base.html' %}

{% block header %}
    {% include 'includes/content_manager_header.html' %}
{% endblock %}

{% block content %}
    <p>Content Manager Dashboard</p>

    <a href="{% url 'create_course' %}"><button>Create Course</button></a>

    <h2>Available Courses</h2>
    <div id="container">
        {% for course in courses %}
<!--        todo add url ltr,  url 'edit_course' course.id -->
            <a href="">
                <div style="cursor: pointer">
                    {{ course.title }}
                    {{ course.get_difficulty_display }}
                </div>
            </a>
        {% empty %}
            <p>No courses available.</p>
        {% endfor %}
    </div>
{% endblock %}
