{% extends 'base.html' %}

{% block header %}
    {% include 'includes/content_manager_header.html' %}
{% endblock %}

{% block content %}
    <p>Content Manager Dashboard</p>

    <a href="{% url 'create_course' %}"><button>Create New Course</button></a>

    <div id="container">
        <h2>Published Courses</h2>
        {% for course in published_courses %}
            <a href="{% url 'edit_course' course.slug %}">
                <div style="cursor: pointer">
                    {{ course.title }} - {{ course.get_difficulty_display }}
                </div>
            </a>
        {% empty %}
            <p>No published courses available.</p>
        {% endfor %}

        <h2>Draft Courses</h2>
        {% for course in draft_courses %}
            <a href="{% url 'edit_course' course.slug %}">
                <div style="cursor: pointer">
                    {{ course.title }} - {{ course.get_difficulty_display }}
                </div>
            </a>
        {% empty %}
            <p>No draft courses available.</p>
        {% endfor %}
    </div>
{% endblock %}
